/*
 Theme Name:   UHM Catalog
 Theme URI:    https://www.hawaii.edu/its/
 Description:  Child theme of Manoa2018
 Author:       UH ITS
 Author URI:   https://www.hawaii.edu/its/
 Template:     manoa2018
 Version:      1.0.8
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         manoa, catalog
 Text Domain:  manoa2018-child
*/

/* anchor links page template */

#content .anchors h2 {
  font-size: 1rem !important;
  font-weight: 800;
  letter-spacing: .5px;
  margin-bottom: .5rem;
  text-transform: uppercase;
}

.anchors {
  margin: 2rem 0;
}

.anchor-links-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#content .anchors .anchor-links-container > ul > li > ul {
  margin-top: 8px;
  padding-left: 10px;
}

.page-template-page-anchors .entry-content address {
  margin: 1rem 0;
}

@media only screen and (min-width: 761px) {
  .anchor-links-container {
    column-count: 2;
    column-gap: 40px;
  }
  .anchor-links-container.3-col {
    column-count: 3;
  }
  .anchor-links-container.4-col {
    column-count: 3;
  }
}

@media only screen and (min-width: 761px) {
  .page-template-page-academic-group #container {
    float: right;
    margin: 0 0 0 -240px;
  }
  .page-template-page-academic-group #content {
    margin: 0 0 0 280px;
  }
  .page-template-page-academic-group #primary {
    float: left;
  }
}

.header-banner {
  background-size: cover;
  margin-bottom: 10px;
  padding: 10px 0;
  position: relative;
  z-index: 2;
}
.header-banner::after {
  background-color: #024731;
  content: '';
  display: block;
  height: 100%;
  opacity: .8;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 90;
}
.header-banner .container {
  position: relative;
  z-index: 92;
}
.header-banner nav#breadcrumbs li,
.header-banner nav#breadcrumbs li a,
.header-banner nav#breadcrumbs
{
  color: #fff;
}
.header-banner h1.entry-title {
  color: #fff;
}

/* style page with anchors */
.page-template-page-anchors .page {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3;
}
.page-template-page-anchors .page > h1.entry-title {
  grid-row-start: 1;
}
.page-template-page-anchors .page .entry-content {
  grid-row-start: 3;
}
.page-template-page-anchors .page .anchors {
  grid-row-start: 2;
}

.page-template-page-academic-group .entry-content-container {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
}

.page-template-page-academic-group .entry-content-container .entry-content {
  grid-row-start: 2;
}

.page-template-page-academic-group .entry-content-container .anchors {
  grid-row-start: 1;
  margin: .5em 0 0;
}

/* style academic group page titles */
.page-template-page-academic-group #content h1.parent-title {
  border-bottom: 1px solid #e7e7e7;
  font-size: 2em;
  font-weight: 700;
  margin: 1em 0;
  padding-bottom: .75em;
}
#content h1.parent-title + h1.entry-title {
  font-size: 1.75em;
  margin-top: 0;
}
.page-template-page-academic-group #content h1 {
  font-size: 1.55em;
}
.page-template-page-academic-group #content h2 {
  font-size: 22px;
}
.page-template-page-academic-group #primary ul.secondary > li.page_item_has_children:not(.current_page_item) {
  display: none;
}
.single #nav-below {
  border-top: 0;
}

.course-tags {
  margin-top: 8px;
}

.course-tags a {
  display: inline-block;
  margin-right: 5px;
}

.home #footer_top_content {
  border-top: 0;
}

#schools-list {
  background: #e7e7e7;
  padding: 24px 0;
}
.schools-list {
  line-height: 1.3;
  margin-bottom: 40px;
}
.schools-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.schools-list ul > li + li {
  margin-top: 12px;
}
.schools-list a {
  color: #333;
  font-weight: 600;
  text-decoration: none;
}
.schools-list a:hover,
.schools-list a:focus,
.schools-list a:active {
  color: #024731;
  border-bottom: 1px solid #024731;
}
.academic-groups {
  text-align: center;
}
@media only screen and (min-width: 761px) {
  .schools-list ul {
    column-count: 3;
    column-gap: 30px;
  }
}
.page-template-page-children ul.child-pages,
.page-template-page-children ul ul {
  list-style: none;
}
.page-template-page-children ul > li > ul {
  margin-left: 0;
  padding-left: 20px;
}
ul.child-pages a {
  color: #333;
  text-decoration: none;
}
ul.child-pages a:hover,
ul.child-pages a:focus,
ul.child-pages a:active {
  text-decoration: underline;
}
.page-template-page-children ul.child-pages > li > a {
  font-weight: 700;
}
.page-template-page-children #content ul > li > ul.children {
  margin-top: 8px;
}
.page-template-page-children #content ul.child-pages > li + li {
  margin-top: 20px;
}
.page-template-page-children .entry-content > ul.child-pages {
  margin: 0;
  padding: 0;
}

.category #content h2.entry-title a {
  color: #333;
  font-size: .8em;
}
.courses-by-unit .narrow-sidebar {
  font-size: .9em;
  font-style: italic;
  margin-bottom: 1em;
}
.courses-by-unit {
  margin-top: 1.5em;
}
@media only screen and (min-width: 761px) {
  .courses-by-unit {
    display: flex;
  }
  .courses-by-unit .narrow-sidebar {
    flex: 22% 0 0;
    margin-right: 4%;
    padding-top: 8px;
  }
  .courses-by-unit .courses {
    flex: 1;
  }
}

.home .featured-image .featured-links {
    background: rgba(2,71,49,.8);;
    color: #fff;
    padding: 0;
    font-size: 1.2em;
    font-weight: 600;
    bottom: 3px;
    z-index: 10;
    width: 100%;
    line-height: 1.4;
}
.home .featured-image .featured-links a {
  color: inherit;
}
@media only screen and (max-width: 760px) {
    .home .featured-image .featured-links {
        margin-top: -4px;
    }
}
@media only screen and (min-width: 761px) {
  .home .featured-image .featured-links {
      position: absolute;
      color: #fff;
  }
  .home .featured-image .featured-links .container {
      display: flex;
      justify-content: space-between;
      align-content: stretch;
      min-height: 70px;
  }
  .home .featured-image .featured-links .container > div {
    box-sizing: border-box;
    flex: 0 0 50%;
    position: relative;
  }
  .home .featured-image .featured-links .container > div.right-link {
    border-left: 1px solid rgba(255,255,255,.8);
  }
  .home .featured-image .featured-links .container > div.left-link {
    border-right: 1px solid rgba(255,255,255,.8);
  }
  .home .featured-image .featured-links .container > div > a {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    position: absolute;
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
  .home .featured-image .featured-links .container > div > a:hover,
  .home .featured-image .featured-links .container > div > a:focus,
  .home .featured-image .featured-links .container > div > a:active {
    animation: pulse 1s;
    background: #024731;
  }
  .home .featured-image .featured-links .container > div > a:hover i,
  .home .featured-image .featured-links .container > div > a:focus i,
  .home .featured-image .featured-links .container > div > a:active i {
    transform: translate(.5em,0);
    transition: .5s ease-in-out;
  }
  @keyframes pulse {
    0% {
      background-color: transparent;
    }
    100% {
      background-color: #024731;
    }
  }
}

#content .courses-container h2.entry-title {
  margin-top: 0;
}

@media only screen and (min-width: 761px) {
  .entry-title-container {
    display: flex;
  }
  h2.entry-title {
    /*flex: 1;*/
  }
  .dtags {
    margin-left: 20px;
    margin-top: 5px;
    /*flex-basis: 20%;*/
    align-items: center;
    display: flex;
  }
}

.dtags a {
  border: 1px solid #e7e7e7;
  color: #333;
  font-size: .75em;
  font-weight: 600;
  padding: 1px 6px;
  text-decoration: none;
}
.dtags a:hover,
.dtags a:focus,
.dtags a:active {
  background: #024731;
  border-color: #024731;
  color: #fff;
}
.dtags a + a {
  margin-left: 4px;
}

.entry-content .course-tags {
  font-size: .9em;
  font-style: italic;
}